body {
  color: var(--text);
  background-color: var(--bg);
  font-size: 1.15rem;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr min(50rem, 50%) 1fr;
  margin: 0;
}

#portrait {

	float: left;
	padding:1em;
	border-radius: 10%;
}

#bassoon {

	float: right;
	padding:1em;
	border-radius: 10%;

}
